<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="RecieverMailID" value="xxxxxxxx" />
    <add key="SenderMailID" value="xxxxxxxx" />
    <add key="SenderPwd" value="xxxxxxxx" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
  </appSettings>
</configuration>